body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 20px;
}

#div_1 {
    background-color: #e37b7b;
    padding: 30px;
    border-radius: 10px;
    max-width: 800px;
    margin: auto;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

#div_2 {
    color: #c2a6a6;
    background-color: #570000;
    padding: 30px;
    border-radius: 10px;
    max-width: 800px;
    margin: auto;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.tachado {
    text-decoration: line-through;
    color: red;
}